{% extends "base.html" %}

{% block title %}
  {{ object.title }}
{% endblock %}

{% block content %}
  {% comment %} {% with subject=object.subject %} {% endcomment %}
    <h1>
      {{ object.title }}
    </h1>
    <div class="module">
      <h2>Overview</h2>
      <p>
        {% comment %} <a href="{% url "game_list_subject" subject.slug %}">
        {{ subject.title }}</a>. {% endcomment %}
        {{ object.modules.count }} modules.
        Instructor: {{ object.owner.get_full_name }}
      </p>
      {% if request.user.is_authenticated %}
        <form action="{% url "gamer_join_game" %}" method="post">
          {{ join_form }}
          {% csrf_token %}
          <input type="submit" value="Join now">
        </form>
      {% else %}
        <a href="{% url "gamer_registration" %}" class="button">
          Register to join
        </a>
      {% endif %}
    </div>
  {% comment %} {% endwith %} {% endcomment %}
{% endblock %}
