{% extends "base.html" %}

{% block title %}
  {% comment %} {% if subject %}
    {{ subject.title }} games
  {% else %} {% endcomment %}
    All games
  {% comment %} {% endif %} {% endcomment %}
{% endblock %}

{% block content %}
  <h1>
    {% comment %} {% if subject %}
      {{ subject.title }} games
    {% else %} {% endcomment %}
      All games
    {% comment %} {% endif %} {% endcomment %}
  </h1>
  {% comment %} <div class="contents">
    <h3>Subjects</h3>
    <ul id="modules">
      <li {% if not subject %}class="selected"{% endif %}>
        <a href="{% url "game_list" %}">All</a>
      </li>
      {% for s in subjects %}
        <li {% if subject == s %}class="selected"{% endif %}>
          <a href="{% url "game_list_subject" s.slug %}">
            {{ s.title }}
            <br>
            <span>{{ s.total_games }} game{{ s.total_games|pluralize }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div> {% endcomment %}
  <div class="module">
    {% for game in games %}
      {% comment %} {% with subject=game.subject %} {% endcomment %}
        <h3>
          <a href="{% url "game_detail" game.slug %}">
            {{ game.title }}, host: {{ game.owner.username }}
          </a>
        </h3>
        {% comment %} <p>
          <a href="{% url "game_list_subject" subject.slug %}">{{ subject }}</a>.
            {{ game.total_modules }} modules.
            Instructor: {{ game.owner.get_full_name }}
        </p> {% endcomment %}
      {% comment %} {% endwith %} {% endcomment %}
    {% endfor %}
  </div>
{% endblock %}
