{% extends "base.html" %}

{% block title %}My games{% endblock %}

{% block content %}
  <h1>My games</h1>
  <div class="module">
    {% for game in object_list %}
      <div class="game-info">
        <h3>{{ game.title }}</h3>
        <p><a href="{% url "gamer_game_detail" game.id %}">Access contents</a></p>
      </div>
    {% empty %}
      <p>
        You can join game here:
        <a href="{% url 'game_list' %}">Browse games</a>
      </p>
      <p>
        Or you can create :
        <a href="{% url "game_create" %}">New game</a>
      </p>
    {% endfor %}
  </div>
{% endblock %}
